<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: white; margin-top: 1%; left: 1%; right: 1%; width: 98%; border-radius: 6px; box-shadow: 0 5px 10px rgba(0,0,0,0.2);">
<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: white;"> -->
    <div class="container-fluid">
        <div class="d-flex flex-row" class="nav-item">
            <a class="navbar-brand" style="color: black;" href="/">
                <img src="https://cdn-icons-png.flaticon.com/512/2/2144.png" alt="Bootstrap" width="30" height="30">
            </a>
            <a class="nav-link" style="color: black;" href="/profile">Profile</a>
            <a class="nav-link" style="color: black;" href="/edit">Edit</a>
        </div>
        <div class="d-flex flex-row" class="nav-item">
            <a class="nav-link" style="color: black;" href="/signup">Sign Up</a>
            <a class="nav-link active" aria-current="page" style="color: black;" href="/login">Login</a>
            <a class="nav-link d-flex" style="color: black;" href="/logout">Logout</a>
        </div>
        </div>
    </div>
</nav>

<!-- <div class="Wrapper" style="background-color: white; position: absolute; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); max-width: 500px; width: 100%; padding: 34px; border-radius: 6px; box-shadow: 0 5px 10px rgba(0,0,0,0.2);"></div> -->